* {font-family: sans-serif;}
html {
    background-image: linear-gradient(green, #014421);
    height: 100%;
    width: 100%;
    text-align: center;
}
h1 {color: white;}
div {margin-bottom: 1em;}
select {
    padding: .5em;
}
input[type=button] {
    cursor: pointer;
    padding: 1em;
    background-image: linear-gradient(gold, darkorange);
    background-color: #fb0484;
    text-transform: uppercase;
    border: solid 1px black;
}
#results {
    color: white;
}