* {font-family: sans-serif;}
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #6e6e6e;
}
#box {
    background-image: linear-gradient(#166, #244);
    padding: 2em;
    text-align: center;
    border: white solid 3px;
    border-radius: 1em;
    width: 400px;
    margin: 0 auto;
}
@media screen and (max-width: 711px) {
    #box {
        width: 100%;
        border-radius: 0;
        border: 0;
        padding: 2em 0;
    }
}
h1 {
    color: white;
    margin-top: 0;
}
h2 {
    margin-bottom: 0;
}
select {
    text-transform: none;
}
@media screen and (max-width: 711px) {
    select {
        margin-bottom: 1em;
    }
}
input[type=button] {
    cursor: pointer;
    background-image: linear-gradient(#ffd700, #ff8c00);
    text-transform: uppercase;
}
input[type=button], select {
    padding: 1em;
    border: solid 1px black;
}
.book-title {
    text-transform: capitalize;
}
.book-link {
    margin-top: 1em;
}
#output {
    color: white;
    text-align: center;
}
#output a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
#output > * {
    animation-name: opacity;
    animation-duration: 500ms;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
h2 {
    line-height: 1.5em;
}

